:root {
  --primary-color: #00a8e8;
  --primary-hover: #0077b6;

  --secondary-color: #4caf50;
  --secondary-hover: #388e3c;

  --background-color-light: #e2e8f0;
  --background-color-dark: #1f2937;

  --text-color-light: #334155;
  --text-color-dark: #ffffff;

  --button-bg-light: #e8f5e9;
  --button-bg-dark: #2d3748;

  --hover-color-light: #00c853;

  --button-delete: #e63946;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border-radius: 5px;
  min-height: 20px;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.custom-button {
  padding: 10px;
  max-width: 250px;
  height: 50px;
  background-color: var(--button-bg-dark);
  color: var(--text-color-dark);
  border: solid 1px var(--background-color-light);
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: var(--primary-color);
}

.custom-input {
  border-color: var(--primary-color);
}